div.readonly {
    pointer-events: none;
    background-color: #e7eaec;
    padding-top: 10px;
    margin-bottom: 10px;
}

.btn-nest {
    position: absolute !important;
    margin-top: -9px !important;
    z-index: 10;
}

.price {
    width: 80px;
    text-align: right;
}

.product-discount-price small {
    font-size: 10px;
}

.disabled-select {
    background-color: #d5d5d5;
    opacity: 0.1;
    border-radius: 3px;
    cursor: not-allowed;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

.f14 {
    font-size: 16px !important;
    margin-top: -6px;
}

.center {
    text-align: center;
}

.vcenter {

    display: inline-block;
    vertical-align: middle;
}

.select2-selection__choice {
    font-size: 20px !important;
    background-color: transparent !important;
}

#student_list tr.selected {
    background-color: #1ab394 !important;
    color: #fff !important;
}

.checker_list.selected {
    display: initial !important;
}
